.container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-size: 0;
}

header {
  padding-top: 30px;
}

.header-info {
  height: 53px;
}

.header-nav,
.header-logo,
.header-button,
.banner-text,
.banner-picture {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #3d3d3d;
}
ul {
  list-style-type: none;
  margin: 0;
}

.btn {
  display: inline-block;
  width: 100px;
  height: 35px;
  background: #46a358;
  color: #ffffff;
  text-align: center;
  padding: 7px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: top;
}

.btn img {
  display: inline-block;
  vertical-align: middle;
}
.btn a {
  color: #ffffff;
  vertical-align: middle;
}

.btn:hover {
  background-color: #d1d1d1;
}

.header-nav {
  width: calc(100% - 250px);
  text-align: center;
}

.header-nav a.active {
  border-bottom: 3px solid;
  border-color: #46a358;
  padding-bottom: 23px;
}

.header-nav_list li {
  margin: 0 25px;
  display: inline-block;
  vertical-align: middle;
}

.active {
  font-weight: bold;
  border-color: #46a358;
}

.hr_header-info {
  background-color: #709978;
  height: 0.3px;
  margin: 0;
  margin-bottom: 12px;
}

.banner {
  font-size: 16px;
  height: 450px;
}
.banner .btn {
  width: 140px;
  margin-top: 44px;
}
div.btn:hover {
  color: #46a358;
}

.banner-text {
  vertical-align: top;
  width: 647px;
  margin-left: 42px;
  margin-top: 68px;
  color: #3d3d3d;
}
.banner-text h6 {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
  color: #3d3d3d;
}
.banner-text h1 {
  letter-spacing: 0.084em; /* fonts haven't been connected yet  */
  text-transform: uppercase; /* fonts haven't been connected yet  */
  font-size: 3.5em; /* fonts haven't been connected yet  */
  margin: 7px 0 5px 0;
  color: #3d3d3d;
}
.banner-text-h1word {
  color: #46a358;
}
.banner-text p {
  margin: 0;
  color: #3d3d3d;
}
.banner-pic {
  display: inline-block;
}
.banner-pic-min {
  width: 135px;
  position: absolute;
  margin-top: 309px;
  margin-left: 49px;
  overflow: hidden;
  transition: all 0.7s ease;
  cursor: pointer;
}
.banner-pic-min:hover {
  transform: rotate(360deg);
}
